/* Style Geral */

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace
}

header{
    background-color:#B7D9E6 ;
    position: fixed;
    top: 0;
    width: 100%;

}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
    text-align: center;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin: 2em;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 3vw;
    align-content: center;
    align-items: center;
    margin-left: 10vh;
    margin-top: 15vw;
}

h2{
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    
}

h3{
    margin-right: 5vw;
    font-style: italic;
}


#logo{
    height: 9vh;
    width: 9vh;
    position: fixed;
    left: 0;

}

.shoes{
    height: 10vh;
    width: 10vw;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #B7D9E6;
    width: 100%;
}

.redes{
    height: 3vh;
    width: 3vh;
    margin-right: 1vw;
}

/* Style iPhone */

@media screen and (min-device-width: 375px) and (max-device-width: 420px){

    #logo{
        height: 9vh;
        width: 9vh;
        position: fixed;
        left: 0;
        top: 0;
    
    }

    li{
        margin: 1em;
    }
}